<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Minjung's Search</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <style>
      .transparency {
          opacity: 0.4;
          filter: alpha(opacity=40); /* For IE8 and earlier */
      }

      .transparency:hover {
          opacity: 1.0;
          filter: alpha(opacity=100); /* For IE8 and earlier */
      }
    </style>


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Minjung's Search</a>
      </div>
    </nav>


{% block content %}

{% endblock %}

    <script id="block_template_B_04" type="text/x-handlebars-template"></script>

<script id="block_template_B_04_RecommPrd" type="text/x-handlebars-template">
  <div class="tit_area">    
    <h1 class="tit">당신을 위한 추천상품</h1>
    {{#ifCond prdType '>' '0'}}
    <ul class="sorting">
      {{#each prdList}}
      <li name="blockTab" {{#ifCond @index '===' ../initSubTabIdx.[0]}}class="on"{{/ifCond}} onmouseover="LEGO.displayBlock({{../carrSn}}, {{@index}});">
        <a href="/html/bestSellerMain_{{genderCd}}.html" data-ga-event-category="PC메인_body_모듈" data-ga-event-action="개인화추천_남녀베스트" data-ga-event-label="{{title}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
    {{/ifCond}}
  </div>
  {{#each prdList}}
  {{#ifCond @index '===' ../initSubTabIdx.[0]}}
  <div class="corner_product" divType="block" style="display:block" divType="block" name="block_{{@index}}" id="block_{{../carrSn}}_{{../blckSn}}">   
  {{else}}
  <div class="corner_product" divType="block" style="display:none" divType="block" name="block_{{@index}}" id="block_{{../carrSn}}_{{../blckSn}}">    
  {{/ifCond}}

    {{#ifCond ../prdType '>' '0'}}
    <p class="corner_prdduct_desc">{{title}} 고객님의 맞춤 상품추천</p>
    {{else}}
    <p class="corner_prdduct_desc">최근 본 상품의 <span class="point">연관상품</span>입니다</p>
    {{/ifCond}}
    <ul class="product_list_col_2">
    {{#each items}}
      {{#mod @index '1' '2' '0'}}
      <li class="last" data-log-actionid-area="{{logData.area}}" data-log-actionid-label="product" {{#ifCond @index '>' '3'}}style="display:none"{{/ifCond}}>
      {{else}}
      <li data-log-actionid-area="{{logData.area}}" data-log-actionid-label="product" {{#ifCond @index '>' '3'}}style="display:none"{{/ifCond}}>
      {{/mod}}
        <div class="product_type1">
        {{#ifCond ../../prdType '>' '0'}}
          <a href="{{linkUrl1}}" data-ga-event-category="PC메인_body_모듈" data-ga-event-action="개인화추천_남녀베스트_상품" data-ga-event-label="{{../title}}_{{prdNo}}_{{prdNm}}" data-log-body="{{jsonToString logData.dataBody}}" data-log-index="{{math @index '+' '1'}}" onclick="rakeLog.sendRakeLog(this);">
        {{else}}
          <a href="{{linkUrl1}}" data-ga-event-category="PC메인_body_모듈" data-ga-event-action="개인화추천_최근본연관상품" data-ga-event-label="{{prdNo}}_{{prdNm}}" data-log-body="{{jsonToString logData.dataBody}}" data-log-index="{{math @index '+' '1'}}" onclick="rakeLog.sendRakeLog(this);">
        {{/ifCond}}
            <div class="thumb">
              <img src="{{imageUrl1}}" alt="{{prdNm}}" onerror="this.src='http://s.011st.com/img/product/no_image_110.gif'">
              <span class="line_frame"></span>
            </div>
            <div class="subject subject_row2">{{prdNm}}</div>
            <div class="info">
            {{#ifCond discountRate '>=' '5'}}
              <span class="sale"><span class="n">{{discountRate}}</span>%</span>
            {{/ifCond}}
              <span class="price">
                <span class="hide">판매가</span><span class="n">{{commaNumber finalDscPrice}}</span>원{{optTxt}}
              </span>
            </div>
          </a>
        </div>
      </li>
    {{/each}} 
    </ul>
  </div>
  {{/each}}

  {{#ifCond prdType '===' '0'}}
  {{#ifCond prdList.[0].items.length '>' '4'}}
  <div class="bnr_exhibition_paging">
    <button type="button" class="ico on" onmouseover="LEGO.showRecommendPrd(0);">추천상품 목록 1</button>
    <button type="button" class="ico" onmouseover="LEGO.showRecommendPrd(1);" >추천상품 목록 2</button>
    {{#ifCond prdList.[0].items.length '>' '8'}}
    <button type="button" class="ico" onmouseover="LEGO.showRecommendPrd(2);">추천상품 목록 3</button>
    {{/ifCond}}
  </div>
  {{/ifCond}}
  {{/ifCond}}
</script>
 <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-1.jpg' %}" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
              <h5>Sarah W.</h5>
              <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">맨위로</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Start Bootstrap 2017. All Rights Reserved.</p>
          </div>
         
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
