{% extends "search/base.html" %}

{% block content %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5"> 정보를 알고 싶은 영화 제목을 검색해보세요!</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <form action="{% url 'polls:api_search' %}" method="GET">       
                    <input type="text" name="q" class="form-control form-control-lg" placeholder="Movie">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
                </div>
                  </form>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Fully Responsive</h3>
              <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Bootstrap 4 Ready</h3>
              <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        {% for item in items %}
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-image"><img src="{{item.image}}" alt="" width="264" height="360"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>{{forloop.counter}}. {{ item.title|safe }}</h2>
            <p class="lead mb-0">{{item.pubDate}}<br> 감독 : {{ item.director }}<br> 출연 배우 : {{ item.actor }}<br> 평점 : {{ item.userRating }}<br><br>
            <div class="col-12 col-md-3 ">
              <a type = "button" href="{{item.link}}" class="btn btn-block btn-lg btn-primary">Detail</a>
            </div>
            </p>
          </div>

        </div>
        {% endfor %}
      </div>
    </section>

{% endblock %}