{% extends "search/base.html" %}


{% block content %}

   
    <div class="entry">
    <div class="container">
         <div style = "width: 600px; height: 500px; margin: 140px auto;">   
    <form class="" action="{% url 'polls:signin' %}" method="post">
      {% csrf_token %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
      <div class="form-group">
        <label for="exampleInputEmail1" style="color:#92B3B7">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" style="color:#92B3B7">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Create a Password" name="password">
      </div>
     <button onclick="return check_input()" type="submit" class="btn btn-default"  style = "width: 600px;">sign in</button>
     
    <script type="text/javascript">
    
    function check_input(){
    var input_name =document.getElementById("exampleInputName1").value;
    var input_password=document.getElementById("exampleInputPassword1").value;
    var input_confirm_passowrd=document.getElementById("exampleInputconfirmPassword1").value;
    var input_email=document.getElementById("exampleInputEmail1").value;  
    if(input_password == ""&& input_email == ""){
      alert("이메일과 패스워드를 입력해주세요"); return false;
    }else if(input_email==""){
      alert("이메일을 입력해주세요"); return false;
    }else if(input_password==""){
      alert("패스워드를 입력해주세요"); return false;
    }
   }
    
    </script>
    
  </form>
      </div> 
    </div>
    
     
  </div>
{% endblock content %}
